@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p>Lær mere omkring et studie lån og hvordan vi beregner dit estimat <a href="https://www.mitsulån.dk/">her</a>.</p>
    <div class="form-group" style="margin-left:450px; margin-right:450px; margin-top:250px;">
        <form asp-controller="Home" asp-action="beregner">
            <input type="submit" value="Gå til beregner!" class="submit-btn"/>
        </form>

    </div>
</div>
