@{
    ViewData["Title"] = "Info";
}

<head>
    <link rel="stylesheet" href="~/css/info.css" />
</head>

<h2 class="info-title">Vigtig Info</h2>
<p class="info-intro">
    Denne låneberegner giver et estimat af hvad dit SU-lån vil koste. Hvis du for eksempel ændrer din månedlige ydelse halvvejs igennem afviklingsperioden, vil renteudgifterne ændre sig.
    Al information du finder på hjemmesiden er hentet fra Uddannelses og Forskningsstyrelsen (https://www.su.dk/su-laan/) og fra Borger.dk (https://www.borger.dk/oekonomi-skat-su/SU-og-oekonomi-under-uddannelse/Studiegaeld-oversigt).
    Se deres hjemmesider for mere information.
</p>

<h6 class="info-points">Hvordan vi beregner renterne på dit studielån:</h6>
<p class="info-points-text">
    Hvordan beregnes renten?<br>
    Renten beregnes løbende på dit SU-lån, og forrentningen starter måneden efter låneudbetalingen.
    Imens du er under uddannelse er renten = diskontoen + 4%.
    Efter endt uddannelse er renten = diskontoen + 1%.
    Ved misligholdt gæld stiger afviklingsrenten fra 1% til 8,05%.
    Den månedlige rente, beregnes som den årlige rente divideret med 12.
</p>

<h6 class="info-points">Misligholdt gæld</h6>
<p class="info-points-text">
    Det er vigtigt at betale den aftalte månedlige ydelse rettidigt. Ved misligholdt gæld kan du risikere at betale 8,05% i afviklingsrente, i stedet for 1%.
    Se https://www.borger.dk/oekonomi-skat-su/SU-og-oekonomi-under-uddannelse/Studiegaeld-oversigt/Studiegaeld-tilbagebetaling for information om tilbagebetaling af studiegæld.
</p>

<h6 class="info-points">Kan jeg søge SU-lån?</h6>
<p class="info-points-text">
    Du kan søge SU-lån, så længe du modtager SU.
    Det er også muligt at låne med tilbagevirkende kraft for de forrige måneder i året, hvor du har modtaget SU.
</p>

<h6 class="info-points">Hvem kan få forhøjet SU-lån?</h6>
<p class="info-points-text">
    Hvis du er forsørger, kan du låne yderligere 1.618 kr. månedligt. I alt 4.852 kr. månedligt.
    Du kan også søge om forhøjet lån, hvis du modtager mindre SU på baggrund af dine forældres indkomst.
</p>

<h6 class="info-points">Hvad er afdragsfrie måneder?</h6>
<p class="info-points-text">
    Du kan vente med at påbegynde afbetalingen af dit SU-lån indtil januar i kalenderåret ét år efter du har afsluttet din uddannelse.
    Hvis du eksempelvis afslutter din uddannelse i juli 2021, skal du betale tilbage fra januar 2023.
</p>

<h6 class="info-points">Er der gebyrer på min månedlige ydelse?</h6>
<p class="info-points-text">
    Der tillægges et gebyr på 6 kr. på hver ydelse. Dette er ikke medregnet i renteudgifterne af lånet. FAGTERMER?
    Der vil også tillægges gebyrer på misvedligeholdt gæld, fx. ved for sen betaling.
</p>

<h6 class="info-points">Hvad er diskontoen?</h6>
<p class="info-points-text">
    Diskontoen er en rentesats, som løbende fastsættes af nationalbanken. Pr. 03/21 ligger den på 0%. En ændring i diskontoen, vil også ændre renten, som du betaler på dit SU-lån.
</p>


