/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

label {
    display: flex;
    margin-bottom: 0.5rem;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.beregner-title {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.description{
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 35px;
}

.row1 {
    display: flex;
}

.input-group0 {
    background-color: #edf0f2;
    border: solid;
    border-right: none;
    border-width: 1px;
    border-color: #d2d3d4;
    padding: 20px;
    flex: 40%;
}

.field1 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.static-text-dkk {
    position: absolute;
    right: 15px;
    top: 40px;
    color: #999;
    font-size: 12px;
}

.input-group1 {
    background-color: #ffffff;
    border: solid;
    border-left: none;
    border-width: 1px;
    border-color: #d2d3d4;
    padding: 20px;
    flex: 60%;
}

.beregner-container {
    margin-bottom: 50px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 20px
}

.input-label {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.25;
}

.input-field {
    width:100%;
    padding: 5px;
    font-weight: 600;
}

.left-option{
    width: 47%;
}

.right-option {
    width: 43%;
    float: right;
    margin-left: 25px;
}

.submit-btn {
    font-weight: 500;
    font-size: 0.87rem;
    background-color: #1f7cff;
    color: white;
    height: 37px;
    width: 100%;
    border: none;
    border-radius: 2px;
}
/* Tooltip container */
.tooltip {
    margin-left: 10px;
    margin-top: 1px;
    position: relative;
    opacity: 1;
    float: right;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 380px;
    background-color: #dbdbdb;
    color: black;
    text-align: left;
    padding: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 175%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*Collapsible section*/
.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid;
    border-top: none;
    border-width: 1px;
    border-color: #d2d3d4;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #5999ff;
    opacity: 1;
    color: white;
    transition: color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.loan-data {
    font-weight: 600;
    padding-left: 5px;
    color: #293959;
}

.end-container {
    background-color: #edf0f2;
    padding: 40px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.end-data0 {
    font-size: 50px;
    font-weight: 700;
    color: #293959;
    text-align: center;
}
.end-data1 {
    font-size: 40px;
    font-weight: 700;
    color: #293959;
    text-align: center;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 1.125rem;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
