
.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
    margin-top: 50px;
}

.timeline-left {
    background-color: #ffffff;
    border-color: #e8e8e8;
    border-right: solid;
    border-width: 2px;
    text-align: center;
    font-weight: 500;
    font-size: 0.87rem;
    padding-right: 40px;
    flex: 47%;
}

.timeline-right {
    background-color: #ffffff;
    border-color: #e8e8e8;
    border-left: solid;
    border-width: 2px;
    text-align: center;
    font-weight: 500;
    font-size: 0.87rem;
    padding-left: 35px;
    flex: 53%;
}